body {
    font-family: gilroy;
    text-align: center;
    background-color: black;
    
}


.quiz-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.question {
    font-weight: 600;
    margin-bottom: 30px;
}

.question p{
    margin-bottom: 10px;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    margin-bottom: 10px;
}

input[type="radio"] {
    margin-right: 10px;
}

.submit {
    background-color: #266b28;
    color: #fff;
    padding: 5px 15px;
    font-size: 15px;
    font-weight: 400;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

.submit:hover {
    background-color: #3e8e41;
}

.result {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #666;
}

.correct {
    color: #0f0;
}

.incorrect {
    color: #f00;
}